In [3]:
import matplotlib.pyplot as plt
import pandas as pd
#import numpy as np
#from lxml import objectify
#import math
#import cycledata as cd
# matplotlib
%matplotlib inline
pd.set_option('display.width', 5000)
pd.set_option('display.max_columns', 60)
pd.set_option('display.mpl_style', 'default')
df = pd.read_csv("NovemberWeekdayJourneys.csv", parse_dates=[2, 4], dayfirst=True,index_col=0)
# %run tubedata
df.describe()

                s_id           e_id        Duration          speed
count  571204.000000  571204.000000   571204.000000  518480.000000
mean      252.863252     251.269217      957.725974       2.756696
std       165.450591     164.476557     6384.265589       0.933794
min         1.000000       1.000000        5.000000       0.000295
25%       107.000000     108.000000      412.000000       2.311824
50%       234.000000     232.000000      655.000000       2.806887
75%       382.000000     377.000000     1005.000000       3.276206
max       594.000000     594.000000  1108738.000000     188.693071

In [ ]:
# create id x id dataframe
# result = pd.DataFrame(index=perf.id, columns=perf.id)
# del result.index.name
result = pd.DataFrame(index=pd.Series(range(1,781)), columns=pd.Series(range(1,781)))
# iterate through row and column skpping i==j
#test = pd.pivot_table(perf, index=['id'], columns=['id'])
#test = perf.pivot('id', 'id')

for i in range(1,781):
        srow_index = perf['id'] == i
        start = perf.loc[srow_index, ['id', 'lat', 'long']]
        if(len(start) > 0):
            for j in range(1,781):
                if i != j:
                    erow_index = perf['id'] == j
                    end = perf.loc[erow_index, ['id', 'lat', 'long']]
                    if(len(end) >0):
                        delta_lat = (end.iloc[0,1] - start.iloc[0,1])*math.pi/180
                        delta_long = (end.iloc[0,2] - start.iloc[0,2])*math.pi/180
                        a = math.sin(delta_lat/2)**2 + math.cos(start.lat*math.pi/180)*math.cos(end.lat*math.pi/180)*math.sin(delta_long/2)**2
                        c = 2*math.atan2(math.sqrt(a), math.sqrt(1-a))
                        result[j][i] = 6371000 * c
result
#lat = start.iloc[0,1]
#long = start.iloc[0,2]